#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  padding-top: 50px; 
  padding-bottom: 70px;
}

footer {
  margin-top: 2.5rem;
}

h1 {
  font-size: 3.5rem;
}

h4 {
  color: black;
}

img {
  height: 3.125rem;
}

input {
  width: 30rem;
}

nav ul li {
  font-size: 1.8rem;

}

ul li {
  font-size: 1.2rem;
}

.card {
  height: fit-content;
  align-items: center;
}

.card h4 {
  color: black;
  background-color: white;
  width: 21.875rem;
}

.card a img {
  transition: filter 0.5s ease;
}

.card a img:hover {
  filter: brightness(200%)
}

.card-body {
  height: 1.875rem;
  width: 21.875rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
}

.header-row {
  background-color: black;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
}

.link img{
  transition: filter 0.5s ease;
}

.link img:hover {
  filter: brightness(150%)
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.nav-link.active {
  font-weight: bold;
  color: white;
}

#avatar-pic {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}

#linked-icon {
  height: 2.5rem;
}

#img1 {
  background-image: url('../src/assets/images/appetizercombo.jpg');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem
}

#img2 {
  background-image: url('../src/assets/images/calendar_picture_resized_cropped.jpeg');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem
}

#img3 {
  background-image: url('../src/assets/images/SocialMediaPic_resized_cropped.jpg');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem
}

#img4 {
  background-image: url('../src/assets/images/EmployeePic_resized_cropped.jpg');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem
}

#img5 {
  background-image: url('../src/assets/images/LogoMaker_resized.png');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem
}

#img6 {
  background-image: url('../src/assets/images/WeatherDashboard_resized_cropped.jpg');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem
}

@media screen and (max-width: 800px) {
  input, textarea {
    width: 100%;
  }

  #root {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    justify-content: center;
  }
}

