#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

h1 {
  font-size: 3.5rem;
}

h4 {
  color: black;
}

img {
  height: 3.125rem;
}

input {
  width: 680px;
}

li {
  font-size: 1.8rem;
}

.card {
  height: fit-content;
  align-items: center;
}

#linked-icon {
  height: 2.5rem;
}

#img1 {
  background-image: url('../src/assets/images/money400x400.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px
}
#img2 {
  background-image: url('../src/assets/images/money400x400.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px
}

#img3 {
  background-image: url('../src/assets/images/money400x400.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px
}
#img4 {
  background-image: url('../src/assets/images/money400x400.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px
}
#img5 {
  background-image: url('../src/assets/images/money400x400.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px
}
#img6 {
  background-image: url('../src/assets/images/money400x400.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px
}

@media screen and (max-width: 800px) {
  input, textarea {
    width: 100%;
  }

  #root {
    padding: 0;
  }
}

/* @media screen and (max-width: 900px) {
  input {
    width: 500px;
  }
  textarea {
    width: 500px;
  } 
  #root {
    padding: 0;
  }
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
