/* * {
  outline: 1px solid red;
} */

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

.background {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #2C3E50;
}

/* footer {
  margin-top: 2.5rem;
} */

h1 {
  font-size: 3.5rem;
}

h4 {
  color: black;
}

img {
  height: 3.125rem;
}

input {
  width: 100%;
  max-width: 30rem;
}

nav ul li {
  font-size: 1.8rem;

}

ul li {
  font-size: 1.2rem;
}

.card {
  height: fit-content;
  align-items: center;
}

.card h4 {
  color: black;
  background-color: white;
  width: 21.875rem;
}

.card a img {
  transition: filter 0.5s ease;
}

.card a img:hover {
  filter: brightness(200%)
}

.card .link-link {
  height: 21.875rem;
  width: 21.875rem;
}

.header {
  width: 100%;
  height: 7rem;
  background-color: black;
}

.header-row {
  background-color: black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: black;
}

.footer-icons {
  display: flex;
  justify-content: center;
  /* Keeps icons in a row */
  list-style: none;
  padding: 0;
  gap: 25px;
}

.footer-icons li {
  margin-bottom: 10px;
  /* Adds spacing between icons */
}

.link img {
  transition: filter 0.5s ease;
}

.link img:hover {
  filter: brightness(150%)
}

.navbar {
  width: 100%;
  max-width: 1280px;
  /* Restrict navbar width */
  margin: 0 auto;
}

.nav-link.active {
  font-weight: bold;
  color: white;
}

#avatar-pic {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}

#linked-icon {
  height: 2.5rem;
}

#img1 {
  background-image: url('../src/assets/images/appetizercombo.jpg');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem
}

.navbar-nav .nav-link {
  padding: 12px 20px;
  font-size: 1.4rem;
}

#img2 {
  background-image: url('../src/assets/images/calendar_picture_resized_cropped.jpeg');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem;
}

#img3 {
  background-image: url('../src/assets/images/SocialMediaPic_resized_cropped.jpg');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem
}

#img4 {
  background-image: url('../src/assets/images/notetaker.png');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem
}

#img5 {
  background-image: url('../src/assets/images/avatarPic2.png');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem
}

#img6 {
  background-image: url('../src/assets/images/WeatherDashboard_resized_cropped.jpg');
  background-size: cover;
  background-position: center;
  height: 21.875rem;
  width: 21.875rem
}

@media screen and (max-width: 800px) {

  input,
  textarea {
    width: 100%;
  }

  #root {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    justify-content: center;
  }
}

@media (max-width: 992px) {

  .header,
  .footer {
    position: relative;
    height: auto;
  }
}

@media(max-width: 800px) {
  .icon {
    transform: scale(0.75);
  }
}

@media (max-width: 768px) {
  .footer-icons {
    flex-direction: column;
    /* Stack vertically */
    align-items: center;
  }
}

@media (max-width: 475px) {

  #img1,
  #img2,
  #img3,
  #img4,
  #img5,
  #img6 {
    transform: scale(0.8);
  }
}